{% extends "standingsrequests/_base.html" %}
{% load bootstrap %}
{% load static %}
{% load i18n %}

{% block page_content %}

    <h2 class="page-header">
        {% trans "Characters" %} ({{pilots_count|default:"-"}})
        {% if perms.standingstool.download %}
            <div class="pull-right">
                <a href="{% url 'standingsrequests:download_pilots' %}" class="btn btn-default">
                    {% trans "Download" %}
                </a>
            </div>
        {% endif %}
    </h2>

    <div class="table-responsive">
        <table
            id="tab-character-standings"
            class="table table-striped table-width-fix">
            <thead>
                <tr>
                    <th>{% trans "Character" %}</th>
                    <th>{% trans "Corporation" %}</th>
                    <th>{% trans "Alliance" %}</th>
                    <th>{% trans "Faction" %}</th>
                    <th>{% trans "Standing" %}</th>
                    <th>{% trans "Labels" %}</th>
                    <th>{% trans "Main Character" %}</th>
                    <th>{% trans "State" %}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    {% include "standingsrequests/partials/standings_legend.html" %}
{% endblock page_content %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script type="application/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('#tab-character-standings').DataTable({
                ajax: {
                    url: "{% url 'standingsrequests:view_pilots_json' %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    {
                        data: 'character_name_html',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { data: 'corporation_name' },
                    { data: 'alliance_name' },
                    { data: 'faction_name' },
                    { data: 'standing' },
                    { data: 'labels_str' },
                    {
                        data: 'main_character_html',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { data: 'state' },
                    /* invisible columns */
                    { data: 'main_character_name' },
                ],
                order: [[0, "asc"]],
                columnDefs: [
                    { "visible": false, "targets": [8] }
                ],
                filterDropDown: {
                    columns: [
                        {
                            idx: 1,
                            maxWidth: "15rem"
                        },
                        {
                            idx: 2,
                            maxWidth: "15rem"
                        },
                        {
                            idx: 3,
                            maxWidth: "15rem"
                        },
                        {
                            idx: 4,
                            maxWidth: "15rem"
                        },
                        {
                            idx: 8,
                            title: "{% translate 'Main' %}",
                            maxWidth: "15rem"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                },
            });
        });
    </script>

{% endblock extra_javascript %}

{% block extra_css %}
    {{ block.super }}
    {% include 'bundles/datatables-css.html' %}
{% endblock extra_css %}
