{% extends "standingsrequests/_base.html" %}
{% load static i18n %}

{% block details %}
    <h2 class="page-header">
        {% trans "Groups" %} ({{groups_count|default:"-"}})
    </h2>

    {% include "standingsrequests/partials/tab_groups_corporations.html" %}
    {% include "standingsrequests/partials/tab_groups_alliances.html" %}
    {% include "standingsrequests/partials/standings_legend.html" %}
{% endblock details %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script type="application/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('#tab-corporation-standings').DataTable({
                ajax: {
                    url: "{% url 'standingsrequests:view_corporation_standings_json' %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    {
                        data: 'corporation_html',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { data: 'alliance_name' },
                    { data: 'faction_name' },
                    { data: 'standing' },
                    { data: 'labels_str' },
                    { data: 'main_character_name' },
                    { data: 'state' },
                     /* invisible columns */
                    { data: 'main_character_name' },
                ],
                order: [[0, "asc"]],
                columnDefs: [
                    { "visible": false, "targets": [7] }
                ],
                filterDropDown: {
                    columns: [
                        {
                            idx: 1,
                            maxWidth: "15rem"
                        },
                        {
                            idx: 2,
                            maxWidth: "15rem"
                        },
                        {
                            idx: 3,
                            maxWidth: "15rem"
                        },
                        {
                            idx: 7,
                            title: "{% translate 'Main' %}",
                            maxWidth: "15rem"
                        },
                        {
                            idx: 6,
                            maxWidth: "15rem"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                },
            });
            $('#tab-alliance-standings').DataTable({
                ajax: {
                    url: "{% url 'standingsrequests:view_alliance_standings_json' %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    {
                        data: 'alliance_html',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { data: 'standing' },
                    { data: 'labels_str' },
                ],
                order: [[0, "asc"]],
                filterDropDown: {
                    columns: [
                        {
                            idx: 1,
                            maxWidth: "15rem"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                },
            });
        });
    </script>

{% endblock extra_javascript %}

{% block extra_css %}
    {{ block.super }}
    {% include 'bundles/datatables-css.html' %}
{% endblock extra_css %}
