{% extends "standingsrequests/_base.html" %}
{% load bootstrap %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'standingsrequests/css/manage.css' %}" type="text/css" media="screen">
{% endblock extra_css %}

{% block details %}
    <h2>{% translate "Manage Requests" %}</h2>
    <div>
        <!-- Requests -->

        <h3>{% translate "Pending Requests" %} ({{requests_count|default:"-"}})</h3>
        <p>Standing requests with pending action for <strong>{{organization.name}}</strong></p>
        <div class="container-fluid">
            <div
                id="div_requests"
                class="row"
                hx-get="{% url 'manage_requests_list' %}"
                hx-trigger="load">
                {% include "standingsrequests/partials/spinner.html" %}
            </div>
        </div>

        <!-- Revocations -->

        <h3>{% translate "Pending Revocations" %} ({{revocations_count|default:"-"}})</h3>
        <p>Standing revocations with pending action for <strong>{{organization.name}}</strong></p>
        <div class="container-fluid">
            <div
                id="div_requests"
                class="row"
                hx-get="{% url 'manage_revocations_list' %}"
                hx-trigger="load">
                {% include "standingsrequests/partials/spinner.html" %}
            </div>
        </div>

    </div>
{% endblock details %}

{% block extra_javascript %}
    {% include "standingsrequests/bundles/htmx.html" %}
{% endblock %}
