{% extends "standingsrequests/_base.html" %}
{% load bootstrap %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'standingsrequests/css/manage.css' %}" type="text/css" media="screen">
{% endblock extra_css %}

{% block page_content %}
    <div>
        <!-- Requests -->

        <h2 style="margin-top:0;">{% trans "Pending Requests" %} ({{requests_count|default:"-"}})</h2>
        <p>Standing requests with pending action for <strong>{{organization.name}}</strong></p>
        <div class="container-fluid">
            <div
                id="div_requests"
                class="row"
                hx-get="{% url 'manage_requests_list' %}"
                hx-trigger="load">
                {% include "standingsrequests/partials/_spinner.html" %}
            </div>
        </div>

        <!-- Revocations -->

        <h2 style="margin-top:0;">
            {% trans "Pending Revocations" %} ({{revocations_count|default:"-"}})
        </h2>
        <p>Standing revocations with pending action for <strong>{{organization.name}}</strong></p>
        <div class="container-fluid">
            <div
                id="div_requests"
                class="row"
                hx-get="{% url 'manage_revocations_list' %}"
                hx-trigger="load">
                {% include "standingsrequests/partials/_spinner.html" %}
            </div>
        </div>

    </div>
{% endblock page_content %}

{% block extra_javascript %}
    {% include "standingsrequests/bundles/htmx.html" %}

    {% comment %} <script type="text/javascript">
        {% include 'standingsrequests/partials/_angular_urls.html' %}
    </script>
    <script src="{% static 'standingsrequests/app.js' %}"></script>
    <script src="{% static 'standingsrequests/error.js' %}"></script>
    <script src="{% static 'standingsrequests/standings_filter.js' %}"></script>
    <script src="{% static 'standingsrequests/manage.js' %}"></script> {% endcomment %}
{% comment %}
    <script type="text/javascript">
        function copyToClipboard(text) {
            if (window.clipboardData && window.clipboardData.setData) {
                // IE specific code path to prevent textarea being shown while dialog is visible.
                return clipboardData.setData("Text", text);

            } else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
                var textarea = document.createElement("textarea");
                textarea.textContent = text;
                textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in MS Edge.
                document.body.appendChild(textarea);
                textarea.select();
                try {
                    return document.execCommand("copy");  // Security exception may be thrown by some browsers.
                } catch (ex) {
                    console.warn("Copy to clipboard failed.", ex);
                    return false;
                } finally {
                    document.body.removeChild(textarea);
                }
            }
        }

        $(document).ready(function () {
            $('#tab_requests').on('click', '.copy_to_clipboard', function (event) {
                var text = event.currentTarget.getAttribute("data-text")
                copyToClipboard(text)
            });
            $('#tab_revocations').on('click', '.copy_to_clipboard', function (event) {
                var text = event.currentTarget.getAttribute("data-text")
                copyToClipboard(text)
            });
        });
    </script> {% endcomment %}
{% endblock %}
