{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Standings Tool {% endblock %}

{% block page_title %}Request Standings{% endblock page_title %}
{% block extra_css %}
{% include "standingsrequests/bundles/angular.html" %}
{% endblock extra_css %}
{% block content %}
    {% include 'standingsrequests/partials/_menu.html' %}
    <div class="alert alert-success" role="alert">
    Successfully added token with scopes {% for scope in scopes %}{%if not forloop.first %}, {% endif %}{{scope}}{% endfor %} for {{char_name}}.
    </div>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        {% include 'standingsrequests/partials/_angular_urls.html' %}
    </script>
{% endblock extra_javascript %}