{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Standings Tool {% endblock %}

{% block page_title %}Request Standings{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'standings-requests/partials/_menu.html' %}
    <div class="col-lg-12 container">
        <div class="panel panel-danger">
          <div class="panel-heading">{% trans "An Error Occurred" %}</div>
          <div class="panel-body">
              {{ error_message }}
          </div>
        </div>
    </div>
{% endblock content %}

{% block extra_script %}
{% endblock extra_script %}
