{% load bootstrap %}
{% load static %}
{% load i18n %}


<div class="table-responsive">
    <table id="tab-effective-requests" class="table table-striped table-width-fix">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Contact Name" %}</th>
                <th>{% trans "Corporation / Alliance" %}</th>
                <th>{% trans "Main Character" %}</th>
                <th>{% trans "Scopes / State" %}</th>
                <th>{% trans "Effective / Accepted By" %}</th>
                <th>{% trans "Contact Labels" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
