{% load i18n %}

<div role="tabpanel" class="tab-pane" id="tab-alliances">
    <div class="table-responsive">
        <table id="tab-alliance-standings" class="table table-striped table-width-fix">
            <thead>
                <tr>
                    <th class="col-md-6">{% trans "Name" %}</th>
                    <th class="col-md-1">{% trans "Standing" %}</th>
                    <th class="col-md-5">{% trans "Labels" %}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
