{% load i18n %}

<div class="table-responsive">
    <table
        id="tab-character-standings"
        class="table table-striped table-width-fix">
        <thead>
            <tr>
                <th>{% trans "Character" %}</th>
                <th>{% trans "Corporation" %}</th>
                <th>{% trans "Alliance" %}</th>
                <th>{% trans "Faction" %}</th>
                <th>{% trans "Standing" %}</th>
                <th>{% trans "Labels" %}</th>
                <th>{% trans "Main Character" %}</th>
                <th>{% trans "State" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
